body {
	color: #444444;
	font-family: "lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-size: 8pt;
}

* {
	margin: 0;
	padding: 0;
}

a {
	color: #1F75CC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: 0 none;
}

p {
	margin-bottom: 5px;
}

textarea {
	width: 100%;
}

hr {
	margin: 10px 0;
	color: #AECEEF;
}

.spacer {
	width: 600px;
	margin: auto;
}

.container {
	margin: 30px auto 50px;
	width: 590px;
}

#tabs-container {
	display: inline-block;
	width: 100%;
	border: 1px solid #AECEEF;
	border-width: 0 0 1px 0;
}

#title {
	display: inline;
	font-size: 18pt;
	font-weight: bold;
}

.content {
	display: block;
	padding: 15px;
	border: 1px solid #AECEEF;
	border-width: 0 1px 1px 1px;
}

#footer {
	text-align: center;
	padding: 20px;
	color: #999999;
}

ul#tabs {
	float: right;
	height: 32px;
	margin: 0;
	padding: 0;
	position: relative;
}

ul#tabs li {
	background: none repeat scroll 0 0 #F4FAFF;
	border-color: #AECEEF;
	border-style: solid solid none;
	border-width: 1px 1px medium;
	list-style: none outside none;
	margin: 0 0 0 4px;
	position: relative;
	width: auto !important;
}

ul#tabs li.selected {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	margin-top: 0;
	position: relative;
	padding-top: 1px;
	bottom: 0;
}

ul#tabs a {
	float: left;
	font-size: 10pt;
	font-weight: bold;
	margin: 0;
	outline: medium none;
	padding: 0 15px;
	position: relative;
}

ul#tabs img {
	float: left;
	margin: 7px 4px 0 0;
}

.tab {
	float: left;
	font-size: 8pt;
	height: 30px;
	line-height: 30px;
	margin: -8px 0 0;
	text-align: center;
	width: 126px;
}

/* Content CSS */

.content h1 {
	font-size: 14pt;
	margin: 5px 0;
}

.content h2 {
	font-size: 12pt;
	margin: 5px 0;
	padding-left: 2px;
}

.content h3 {
	font-size: 10pt;
	margin: 5px 0;
	padding-left: 4px;
}

.content p {
	padding: 0 5px;
}

.content ul,
.content ol {
	margin: 5px 0 5px 25px;
}

/* Edit page CSS */

#editbox {
	margin-bottom: 20px;
}

div#editorTools {
	text-align: center;
}

#editorTools ul {
	height: 16px;
	margin: 0;
	padding: 0;
	width: 100%;
}

#editorTools ul li {
	list-style: none outside none;
	width: auto !important;
	display: inline;
	margin-right: 5px;
}

#editorTools a {
	font-size: 10pt;
	line-height: 16px;
}

#editorTools a:hover {
	text-decoration: none;
}

#editorTools img {
	height: 16px;
	width: 16px;
	margin-right: 3px;
	vertical-align: bottom;
}

.protection {
	background-color: #FFE88F;
	border: 2px solid #EED77E;
	padding: 5px;
	margin: 10px 0;
}

.protection_img {
	background: url("img/protection.png") no-repeat scroll 5px 4px #FFE88F;
	padding-left: 26px;
}

div#options {
	padding-left: 20px;
	margin: 10px 0;
}

#options label {
	display: block;
	margin: 3px 0;
}

.top_bar {
	margin-top: 0px;
}